html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  max-width: 1280px;
  min-width: 360px;
  margin: auto;
  font-size: 24px;
}

body {
  background-color: #E5E5E5;
  padding: 0;
  margin: 0;
  width: 100%;
}

.header {
  background-color: #011827;
  box-sizing: border-box;
  display: flex;
  word-wrap: break-word;
  margin: 0 1rem 0 0;
  width: 100%;
  padding: 0 20px 0 0;
}
@media screen and (min-width: 720px) {
  .header {
    grid-column: span 12;
    word-wrap: normal;
  }
}

.logo {
  width: 128px;
  height: 82px;
  margin: 1rem 0.2rem 4rem 1rem;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  color: #FFF;
  margin: 1rem 8rem 0 0.1rem;
  padding: 0;
  border: 0;
  word-wrap: break-word;
}
@media screen and (min-width: 720px) {
  h1 {
    margin: 2.4rem 13vw 0 0.4rem;
    font-size: 24px;
    word-break: normal;
  }
}

.burgerIcon {
  right: 0.1rem;
  margin: 1rem 0 0 0;
  height: 45px;
}
.burgerIcon:hover {
  cursor: pointer;
}
@media screen and (min-width: 720px) {
  .burgerIcon {
    display: none;
    margin: 0;
  }
}

.bar {
  display: block;
  width: 45px;
  height: 6px;
  margin: 5px auto;
  border-radius: 5px;
  background-color: White;
}

.burgerIcon.active .bar:nth-child(2) {
  opacity: 0;
  z-index: 1;
}

.burgerIcon.active .bar:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}

.burgerIcon.active .bar:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

.menu {
  display: flex;
  position: fixed;
  background-color: #011827;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  right: -100%;
  transition: 0.3s;
  padding: 0;
  list-style: none;
  z-index: 1;
}
.menu li {
  text-align: center;
  gap: 50px;
}
.menu a {
  font-weight: 700;
  font-size: 36px;
  color: #FFF;
  text-decoration: none;
}
.menu a:hover {
  color: #8ACFE5;
}
.menu a:active {
  right: 0 !important;
}
@media screen and (min-width: 720px) {
  .menu {
    position: unset;
    flex-direction: row;
    justify-content: space-evenly;
    height: unset;
    margin: 0;
  }
  .menu li {
    text-align: center;
    display: grid;
    margin-bottom: 1rem;
  }
  .menu li a {
    font-size: 24px;
  }
  .menu li a:hover {
    color: #8ACFE5;
  }
}

.main {
  margin: 0;
  padding: 0;
}

.topHackerImage {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.buttonContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  grid-column: span 2;
}
@media screen and (min-width: 720px) {
  .buttonContainer {
    margin: 0;
    display: flex;
    flex-direction: row;
    grid-column: span 12;
  }
}

.onlineChallengesBtn {
  width: 308px;
  height: 66px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  border: none;
  background-color: #E5E5E5;
  color: #36769D;
  font-size: 16px;
  border: none;
  margin: 10px 0 50px 0;
}
.onlineChallengesBtn:hover {
  cursor: pointer;
}
@media screen and (min-width: 720px) {
  .onlineChallengesBtn {
    margin: 106px 8.5px 44px 0;
    color: #FFF;
    background-color: #E3170A;
    font-size: 24px;
  }
}

#upperOnlineChallengeBtn {
  margin-top: 15px;
}
@media screen and (min-width: 720px) {
  #upperOnlineChallengeBtn {
    margin-top: -33px;
  }
}

.on-siteChallengesBtn {
  width: 308px;
  height: 66px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  border: none;
  background-color: #8ACFE5;
  color: #011827;
  margin: 47px 0 15px 0;
}
.on-siteChallengesBtn:hover {
  cursor: pointer;
}
@media screen and (min-width: 720px) {
  .on-siteChallengesBtn {
    margin: 106px 0 44px 8.5px;
  }
}

#upperOnSiteChallengesBtn {
  margin-top: 37px;
}
@media screen and (min-width: 720px) {
  #upperOnSiteChallengesBtn {
    margin-top: -33px;
  }
}

.reviews {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 720px) {
  .reviews {
    grid-template-columns: repeat(2, 1fr);
  }
}

.review {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.review img {
  grid-column: span 2;
  border-radius: 873px;
  margin: 0 0 0 1.5rem;
  height: auto;
  width: 100%;
}
@media screen and (min-width: 720px) {
  .review img {
    margin: 0.3rem 0.5rem 0 1rem;
  }
}
.review blockquote {
  grid-column: span 10;
  margin: 0 1rem 0 2rem;
}
.review .reviewSignature {
  grid-column: span 2;
  text-align: left;
  margin: 0rem 0 0 5.5rem;
  grid-column: span 12;
}
@media screen and (min-width: 720px) {
  .review .reviewSignature {
    margin: 1.5rem 0 0 5.5rem;
  }
}

#review2 {
  display: none;
}
@media screen and (min-width: 720px) {
  #review2 {
    display: grid;
  }
}

blockquote {
  font-style: italic;
  font-size: 24px;
}

.reviewSignature {
  font-size: 18px;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  margin: 4rem 1.5rem 1rem 1.5rem;
}

.popularRooms {
  display: flex;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
.popularRooms::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
@media screen and (min-width: 720px) {
  .popularRooms {
    display: flex;
    overflow: visible;
  }
}

.challengeCard {
  min-width: 363px;
  max-width: 363px;
  display: grid;
  flex-direction: column;
  margin-left: 42px;
  grid-template-columns: repeat(12, 1fr);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  background-color: #FFF;
}
.challengeCard img {
  grid-column: span 12;
  width: 100%;
  height: auto;
}
.challengeCard h3 {
  grid-column: span 12;
  margin: 5px 0 5px 18px;
  font-size: 28px;
  font-weight: 400;
}
.challengeCard .starRating {
  grid-column: span 12;
  display: flex;
  margin-right: 20px;
}
.challengeCard .starRating img {
  width: 23px;
  height: 26px;
}
.challengeCard .starRating img:first-child {
  margin-left: 18px;
}
.challengeCard .starRating p {
  margin: 6px 0 12px 10px;
  font-size: 14px;
  font-weight: 400;
}
@media screen and (min-width: 720px) {
  .challengeCard .starRating p {
    margin: 6px 0 12px 85px;
  }
}
.challengeCard p {
  grid-column: span 12;
  margin: 18px 17px 18px 17px;
  margin-top: 5px;
  margin-left: 18px;
  font-size: 18px;
  font-weight: 400;
}
.challengeCard button {
  width: 179.28px;
  height: 44px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  background-color: red;
  text-align: center;
  color: #FFF;
  grid-column: span 12;
  justify-self: flex-end;
  margin: 0 18px 12px 0;
}
.challengeCard button:hover {
  cursor: pointer;
}

.theStory {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #011827;
  margin: 20px 0 0 0;
  padding: 0;
  color: #FFF;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}
.theStory p {
  margin: 10vh 10vw 5vh 10vw;
  font-weight: 400;
}
@media screen and (min-width: 720px) {
  .theStory p {
    margin: 20vh 25vw 5vh 25vw;
  }
}

.readFullStory {
  color: #8ACFE5;
  background-color: #011827;
  box-sizing: border-box;
  border: 2px solid #8ACFE5;
  border-radius: 4px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 1.2rem 4rem 4rem 4rem;
  width: 65vw;
  height: 66px;
  justify-self: center;
}
.readFullStory:hover {
  cursor: pointer;
}

.bottomContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 0;
}
@media screen and (min-width: 720px) {
  .bottomContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

.bottomPlaySection {
  padding: 0;
  margin: 0 0 -6px 0;
  width: 100%;
}
.bottomPlaySection img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 720px) {
  .bottomPlaySection {
    grid-column: span 2;
    width: 100%;
  }
}

.bottomLeftPlayBtn {
  width: 308px;
  height: 66px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  border: none;
  background-color: #E3170A;
  color: #FFF;
  margin: 55px 151px 64px 21px;
}
.bottomLeftPlayBtn:hover {
  cursor: pointer;
}
@media screen and (min-width: 720px) {
  .bottomLeftPlayBtn {
    margin: 22px 224px 6px 116px;
  }
}

.bottomRightPlayBtn {
  width: 308px;
  height: 66px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  border: none;
  background-color: #E3170A;
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  margin: 25px 151px 64px 21px;
}
.bottomRightPlayBtn:hover {
  cursor: pointer;
}
@media screen and (min-width: 720px) {
  .bottomRightPlayBtn {
    margin: 22px 224px 66px 116px;
  }
}

.bottomRightPlayTitle {
  font-size: 32px;
  font-weight: 700;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
}
@media screen and (min-width: 720px) {
  .bottomRightPlayTitle {
    margin: 60px 108px 12px 116px;
  }
}

.bottomRightPlayText {
  font-size: 24px;
  font-weight: 400;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
}
@media screen and (min-width: 720px) {
  .bottomRightPlayText {
    margin: 12px 108px 12px 116px;
  }
}

.bottomLeftPlayTitle {
  font-size: 32px;
  font-weight: 700;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
}
@media screen and (min-width: 720px) {
  .bottomLeftPlayTitle {
    margin: 60px 108px 12px 116px;
  }
}

.bottomLeftPlayText {
  font-weight: 400;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
}
@media screen and (min-width: 720px) {
  .bottomLeftPlayText {
    margin: 12px 108px 12px 116px;
  }
}

#imgGirlAtComputer {
  order: 2;
}
@media screen and (min-width: 720px) {
  #imgGirlAtComputer {
    order: 3;
  }
}

#textToGirlAtComputer {
  order: 3;
}
@media screen and (min-width: 720px) {
  #textToGirlAtComputer {
    order: 2;
  }
}

.footer {
  margin: 80px 0 0 0;
  min-height: 467px;
  background-color: #011827;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  color: #FFF;
}
@media screen and (min-width: 720px) {
  .footer {
    grid-template-columns: repeat(4, 1fr);
    border-top: 183px transparent;
    margin: 183px 0 0 0;
  }
}
.footer a {
  color: #FFF;
  text-decoration: none;
}

.footerLeft h4 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  line-height: normal;
}
.footerLeft p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
@media screen and (min-width: 720px) {
  .footerLeft {
    grid-column: span 2;
  }
}
.footerLeft h4 {
  margin: 64px 0 0 22px;
}
@media screen and (min-width: 720px) {
  .footerLeft h4 {
    margin: 8rem 0 0 2rem;
  }
}
.footerLeft p {
  margin: 0 25px 20px 22px;
}
@media screen and (min-width: 720px) {
  .footerLeft p {
    margin: 7px 7rem 5rem 2rem;
  }
}

.footerCenter h4 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  line-height: normal;
}
.footerCenter p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
.footerCenter h4 {
  margin: 20px 0 0px 22px;
}
@media screen and (min-width: 720px) {
  .footerCenter h4 {
    margin: 8rem 0 0 2rem;
  }
}
.footerCenter p {
  margin: 0 0 0 22px;
}
.footerCenter p:nth-child(4) {
  margin: 0 0 24px 22px;
}
@media screen and (min-width: 720px) {
  .footerCenter p {
    margin: 0 3rem 0 2rem;
  }
}

.footerRight h4 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  line-height: normal;
}
.footerRight p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
.footerRight h4 {
  margin: 23px 0 0 22px;
}
@media screen and (min-width: 720px) {
  .footerRight h4 {
    margin: 8rem 0 0 2rem;
  }
}
.footerRight p {
  margin: 0 0 0 22px;
}
.footerRight p:nth-child(3) {
  margin: 0 0 30px 22px;
}
@media screen and (min-width: 720px) {
  .footerRight p {
    margin: 0 3rem 0 2rem;
  }
  .footerRight p:last-child {
    margin: 0 0 70px 48px;
  }
}
